/* output.css */

/* .container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .radio-group {
    display: inline;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1000px;
  }
  
  .radio-group label {
    margin-right: 10px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .input-group label {
    margin-right: 10px;
  }
  
  .input-group input[type='text'] {
    width: 200px;
  }
  
  .button-container {
    margin-top: 10px;
  }
  
  /* Add more styles as needed */
  /* .monthly{
    font-weight: bold;
    color: #f31515;
    margin-bottom: 35px;
    margin-right: 10px;
  } */ 

  .monthly{
    margin-left: 500px;
    align-items: center;
    display: inline-flex;
    font-weight: bold;
    color: #f31515;
    margin-bottom: 35px;
    margin-right: 10px;
  }
  .makesure{
    margin-left: 790px;
    color: #09a7e6;
    align-items: center;
    margin-top: 10px;
  }
  .tabledata{
    margin-left: 790px;
    margin-top: 70px;
    color: #09a7e6;
    align-items: center;
  }

  .choosing{

    margin-left: 10%;
    margin-top: 5px;
    align-items: center;
    display: inline-flex;
    font-weight: bold;
    color: #f31515;
    margin-right: 100px;
    justify-content: space-between;
  }

  .forimp{
    display: none;
    visibility: hidden;
  }

  .dsdc {
    align-items: center;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    width: 400px;
    margin-top: 5px;
    margin-left: 500px;
    margin-bottom: 15px;
  }

  .bsbc {
  margin-top: 30px;
  }

  .getMore{
    padding: 4px 4pxpx;
    font-size: 16px;
    background-color: #ee0c17;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 200px; /* Set the button width to 50% of the container */
    margin-top: 16px; /* Add some spacing between the inputs and button */
    margin-left: 500px;
  
  }


  /* view.css */

/* Styles for the table container */
.table-container {
  justify-content: center;
  width: 70%;
  overflow-x: auto;
}

/* Styles for the data table */
.data-table {
  margin-left: 40%;
  justify-content: center;
  width: 50%;
  border-collapse: collapse;
  text-align: left;
}

.data-table th,
.data-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.data-table th {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: #f5f5f5;
}
